page-popmonth {
  $color-bg: #1C84D4;
  $color-white: #FFFFFF;
  $pop-font-size-title: 2.6rem;
  $pop-font-size-list: 2.5rem;
  $pop-view-width: 80%;
  ion-content {
    padding: 0 !important;
    background-color: $color-bg !important;
    overflow: hidden !important;
    ion-list {
      padding: 0;
      margin: 0;
      background-color: $color-bg !important; //   width: 100%;
      ion-list-header {
        border-top: 0px !important;
        width: $pop-view-width;
        background-color: $color-bg !important;
        color: $color-white !important;
        font-size: $pop-font-size-title !important;
        text-align: center;
      }
      button {
        width: $pop-view-width;
        background-color: $color-bg !important;
        color: $color-white !important;
        font-size: $pop-font-size-list !important;
        text-align: center;
      }
    }
  }
}
