<ion-header>
  <ion-navbar transparent>
    <ion-buttons right>
      <button ion-button (click)="dismiss(false)">
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
      </ion-header>
      
      <ion-content padding >
        <ion-card style="background: rgb(7,33,58);">
          <ion-card-content>
            <ion-grid style="color: #FFFFFF;">
              <ion-row align-items-stretch style="font-size:18px;overflow:hide; border-width:1px;border-style: none none solid none;">
                <ion-col  text-left style="overflow:hide;overflow:hide;" *ngFor="let header of headers">{{header}}</ion-col>
              </ion-row>
              <ion-row align-items-stretch style="font-size:18px;overflow:hide; border-width:1px;border-style: none none solid none;" *ngFor="let rowdata of detail">
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.BILLDATE}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.MFGCODE}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.ItemCode}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.ItemName}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.Customer}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.OrderQty}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.PriceTC}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.PriceFC}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.MoneyTC}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.TransferPrice}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.NotConsume}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.DepreciateRate}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.GrossRate}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.GrossMoney}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.MFGDept}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.SaleDept}}</ion-col>
                <ion-col  text-left style="overflow:hide;border-width:1px;border-style: none solid none solid;">{{rowdata.ItemType}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-content>