<ion-header>
  <ion-navbar color="defaultbgcolor" class="bar-positive" align-title="center" #navbar>
    <button ion-button menuToggle>
      <ion-icon style="font-size: 50px;" name="menu"></ion-icon>
    </button>
    <ion-title style="padding:0% 0% 0% 0%;">
      <p align="center" style="color:white;font-size:58px;">永强集团税务信息中心</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <p align="center" style="color:white;font-size:25px;">单位(万元)&nbsp;&nbsp;</p>
        <ion-input style="color:white;font-size:25px;" [(ngModel)]="timevalue" #clockcontrol></ion-input>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card class="segment-year">
    <!-- <ion-toolbar no-border-top> -->
      <ion-segment  color="danger" [(ngModel)]="choosedYear">
        <ion-segment-button value="{{year}}" *ngFor="let year of Years;" (click)="chooseYear()">
          {{year}}
        </ion-segment-button>
      </ion-segment>
    <!-- </ion-toolbar> -->
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-11>
        <ion-card class="maincontenttopstyle">
          <ion-card-content>
            <div echarts #taxPie [options]="taxPieData" class="piediv"></div>
          </ion-card-content>
        </ion-card>

        <ion-card class="maincontentstyle">
          <div echarts #taxBar [options]="taxBarData" class="bardiv"></div>
          <div class="profitgridstyle">
            <ion-grid style="padding:0% 0% 0% 0%;overflow:hide;color:#FFFFFF;font-size:20px;" align-items-start>
              <ion-row style="overflow:hide; height: 75px;border-width:1px;border-style: none none solid none;">
                <ion-col style="overflow:auto;font-size:22px;"></ion-col>
                <ion-col text-center style="overflow:auto;font-size:22px;" *ngFor="let header of taxBarxAxisAppend">{{header}}</ion-col>
              </ion-row>
              <ion-row style="overflow:hide; height: 60px;border-width:1px;border-style: none none solid none;" *ngFor="let rowdata of taxBarSeriesAppend;index as i;">
                <ion-col text-left align-self-center style="font-size:24px;border-width:1px;border-style: none solid none solid;">{{rowdata.name}}</ion-col>
                <ion-col text-right align-self-center style="font-size:24px;border-width:1px;border-style: none solid none solid;" *ngFor="let coldata of rowdata.data">{{coldata}}</ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
