page-smreport {
    .maincontenttopstyle{
        color:#FFFFFF;
        background-color:rgb(7,33,58);
        ion-card-header{
            color:#FFFFFF;
            background-color:rgb(7,33,58);
        }
        box-shadow: 0px 1px 3px rgba(7,33,58,0.2);
        padding:0% 0% 0% 5%;
    }
    .piediv{
            color:#FFFFFF;
            background:rgb(7,33,58);
            padding: 0%;
            width:100%;
            height:400px;
    }
    .bardiv{
            color:#FFFFFF;
            background:rgb(7,33,58);   
            padding: 0%;
            margin:0%;
            width:100%;
            height:350px;
    }

    .profitgridstyle{
        color:#FFFFFF;
        background:rgb(7,33,58);   
        padding:0% 0% 0% 0%;
        margin:0% 0% 0% 0px;
        width:98%;
    }
    .maincontentstyle{
        color:#FFFFFF;
        background-color:rgb(7,33,58);
        ion-card-header{
            color:#FFFFFF;
            background-color:rgb(7,33,58);
        }
        box-shadow: 0px 1px 3px rgba(7,33,58,0.2);
        padding:0% 0% 0% 5%;
    }
    .hintpartstyle{
        color:#FFFFFF;
        background-color:rgb(7,33,58);
        ion-card-header{
            color:#FFFFFF;
            background-color:rgb(7,33,58);
        }
        box-shadow: 0px 1px 3px rgba(7,33,58,0.2);
    }
    .factorystatestyle{
        color:#FFFFFF;
        background-color:rgb(7,33,58);
        ion-card-header{
            color:#FFFFFF;
            background-color:rgb(7,33,58);
        }
        box-shadow: 0px 1px 3px rgba(7,33,58,0.2);        
    }
}
