page-investright {
  // 背景色
  $color-bg: rgb(7, 33, 58);
  $color-white: #FFFFFF; //ionic 的颜色
  $radio-md-color-on: rgb(141, 20, 20);
  ion-navbar {
    height: 80px;
    ion-title {
      padding: 0;
      p {
        display: inline-block;
      }
      .title-title {
        color: $color-white;
        font-size: 58px;
        width: 70%;
        display: inline-block;
      }
      .title-select {
        display: inline-block;
        width: 20%;
        ion-label {
          margin: 0;
          margin-top: 8%;
          font-size: 34px;
        }
        ion-select {
          font-size: 36px;
          padding: 5px 8px 0px 0px !important;
          ion-option {
            font-size: 34px;
          }
        }
      }
    }
    ion-buttons {
      margin-top: 22px;
      button {
        p {
          color: $color-white;
          font-size: 25px;
        }
        ion-input {
          color: $color-white;
          font-size: 25px;
        }
      }
    }
    button {
      ion-icon {
        font-size: 50px;
      }
    }
  }
  ion-content {
    background-color: $color-bg !important;
  }
  .segment-year {
    // width: 50%;
    width: 15%;
    margin: 0; // margin-left: 25%;
    ion-segment-button {
      font-size: 4rem !important;
    }
    ion-segment {
      border-color: $color-bg !important;
      background-color: $color-bg !important;
    }
  }
  .maincontenttopstyle {
    color: $color-white;
    background-color: $color-bg;
    ion-card-header {
      color: $color-white;
      background-color: $color-bg;
    }
    ion-card-content {
      padding: 0;
    }
    box-shadow: 0px 1px 3px rgba(7, 33, 58, 0.2);
    padding:0% 0% 0% 5%;
  }
  .piediv {
    color: $color-white;
    background: $color-bg;
    padding: 0%;
    width: 100%;
    height: 400px;
  }
  .maincontentstyle {
    color: $color-white;
    background-color: $color-bg;
    ion-card-header {
      color: $color-white;
      background-color: $color-bg;
    }
    box-shadow: 0px 1px 3px rgba(7, 33, 58, 0.2);
    padding:0% 0% 0% 5%;
  }
  .bardiv {
    color: $color-white;
    background: $color-bg;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 350px;
  }
  .profitgridstyle {
    color: $color-white;
    background: $color-bg;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0px;
    width: 100%;
    ion-grid {
      padding: 0% 0% 0% 0%;
      overflow: hide;
      color: $color-white;
      font-size: 20px;
    }
    .profit-header {
      overflow: hide;
      height: 60px;
      border-width: 1px;
      border-style: none none solid none;
      ion-col {
        overflow: auto;
        font-size: 22px;
      }
    }
    .profit-content {
      overflow: hide;
      height: 60px;
      border-width: 1px;
      border-style: none none solid none;
      ion-col {
        font-size: 24px;
        border-width: 1px;
        border-style: none solid none solid;
      }
    }
  }
}
