page-investright {
  // 背景色
  $color-bg: rgb(7, 33, 58);
  $top-card-color-bg: rgba(255, 255, 255, 0.1);
  $sheet-card-color-bg: rgba(18, 42, 63, 0.6);
  $color-white: #FFFFFF; //ionic 的颜色
  $radio-md-color-on: rgb(141, 20, 20);
  ion-navbar {
    height: 80px;
    ion-title {
      padding: 0;
      p {
        display: inline-block;
      }
      .title-title {
        color: $color-white;
        font-size: 58px;
        width: 70%;
        display: inline-block;
      }
      .title-select {
        display: inline-block;
        width: 20%;
        ion-label {
          margin: 0;
          margin-top: 8%;
          font-size: 34px;
        }
        ion-select {
          font-size: 36px;
          padding: 5px 8px 0px 0px !important;
          ion-option {
            font-size: 34px;
          }
        }
      }
    }
    ion-buttons {
      margin-top: 22px;
      button {
        p {
          color: $color-white;
          font-size: 25px;
        }
        ion-input {
          color: $color-white;
          font-size: 25px;
        }
      }
    }
    button {
      ion-icon {
        font-size: 50px;
      }
    }
  }
  ion-content {
    background-color: $color-bg !important;
  }
  .segment-year {
    // width: 50%;
    width: 15%;
    margin: 0; // margin-left: 25%;
    ion-segment-button {
      font-size: 4rem !important;
    }
    ion-segment {
      border-color: $color-bg !important;
      background-color: $color-bg !important;
    }
  }
  .top-card {
    background: transparent;
    background-color: $top-card-color-bg;
    ion-card {
      background-color: $top-card-color-bg;
      ion-card-content {
        ion-card-title,
        p {
          font-weight: 900;
          font-size: 38px;
        }
      }
    }
  }
  .sheet-card {
    background-color: $sheet-card-color-bg;
    margin-top: 30px;
    ion-grid {
      overflow: auto;
      color: $color-white;
      .sheet-row-header {
        font-size: 30px;
        overflow: hide;
        height: 55px;
        border-width: 1px;
        border-style: none none solid none;
        background-color: rgba(46, 146, 222, 0.9);
      }
      .sheet-row-content {
        overflow: hide;
        height: 60px;
        border-width: 1px;
        border-style: none none solid none;
        ion-col {
          font-size: 25px;
          border-width: 1px;
          border-style: none solid none none;
        }
      }
    }
  }
  .top-horizontalbar-card {
    background-color: $sheet-card-color-bg;
  }
  .mid-pie-card {
    background-color: $sheet-card-color-bg;
  }
  .bottom-bar-card {
    background-color: $sheet-card-color-bg;
  }
  .right-echarts-div {
    // color: $color-white;
    // background: $color-bg;
    padding: 0%;
    width: 100%;
    height: 325px;
  }
}
